@model phamtungson_2210900122_K22CNT1.Models.size

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>size</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.size1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_size }) |
    @Html.ActionLink("Back to List", "Index")
</p>
